---

- name: Copy S3 auth pregen
  ansible.builtin.template:
    src: 'auth_pregen.sh.j2'
    dest: '{{ neofs_s3__conf_dir }}/auth_pregen.sh'
    owner: 'root'
    group: '{{ neofs_s3__group }}'
    mode: '0750'

- name: Copy S3 auth pregen rules
  ansible.builtin.copy:
    src: 'rules.json'
    dest: '{{ neofs_s3__conf_dir }}/rules.json'
    owner: 'root'
    group: '{{ neofs_s3__group }}'
    mode: '0640'
