#!/bin/bash

{{ ansible_managed | comment }}

echo 'Authmate issue-secret'
RESULT=$(AUTHMATE_WALLET_PASSPHRASE='' {{ neofs_s3__auth_bin_path }} issue-secret \
	--wallet wallet.json \
	--peer {{ neofs_s3__neofs_peer }} \
	--gate-public-key {{ neofs_s3__public_key }} \
	--create-session-token \
	--bearer-rules rules.json)

ACCESS_KEY=$(echo $RESULT | jq -r '.access_key_id')
SECRET_KEY=$(echo $RESULT | jq -r '.secret_access_key')
